body {
    background-color: #f8f9fa; 
    color: #333; 
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #f06292; 
  }
  
 
  .Form,
  .Card {
    margin-bottom: 20px;
  }
  
  .Form {
    background-color: #f9f5ff; 
    padding: 20px;
    border-radius: 5px;
  }
  
  .Card {
    background-color: #ffe0f0; 
    padding: 20px;
    border-radius: 5px;
  }
  
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #f06292; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }